<!-- <div *ngIf="album" class="album-detail">
    <img [src]="album.image" [alt]="album.title">
    <h2>{{album.title}}</h2>
    <p>Name: {{album.title}}</p>
    <button>Play</button>
    <h3>List of songs</h3>
    <ul>
      <li *ngFor="let song of album.songs">{{song}}</li>
    </ul>
    <div class="album-info">
      <h3>{{album.genre}}</h3>
      <h2>{{album.title}}</h2>
      <p>{{album.description}}</p>
      <div class="tags"> -->
<!-- Add tags here -->
<!-- </div>
      <div class="album-meta">
        <span>en</span>
        <span class="likes">5</span>
        <span class="duration">840 min</span>
        <span>Details</span>
      </div>
    </div>
  </div> -->

<div *ngIf="album" class="card mb-3 my-5 container " style="width: 800px;">
  <img class="card-img-top" [src]="album.url" [alt]="album.title" />
  <div class="card-body">
    <!-- <h2><a class="nav-link" routerLink="#">{{ album.title }}</a></h2> -->
    <h2 class="card-title text-center">{{ album.title }}</h2>
    <p class="card-title text-center">Artist: {{ album.name }}</p>
    <!-- <button>Play</button> -->
    <!-- <button (click)="playAlbum()">{{ isPlaying ? 'Pause' : 'Play' }}</button>
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 0%" [style.width.%]="progress"></div>
    </div> -->
    <h3>List of songs</h3>
    <ul>
      <!-- <li *ngFor="let song of currentList; let i = index" [class.playing]="i === currentSongIndex && isPlaying"
      [class.played]="i < currentSongIndex">
      {{ song }} -->
      <!-- <span *ngIf="i === currentSongIndex && isPlaying"> (Playing)</span> -->
      <!-- </li> -->
      <li *ngFor="let song of lists[+album.id - 1].list; let i = index"
        [class.playing]="i === currentSongIndex && isPlaying">
        {{ song }}
      </li>
    </ul>
    <div class="album-info">
      <h3>{{ album.status }}</h3>
      <p>{{ album.description }}</p>
      <div class="tags">
        <span *ngFor="let tag of album.tags" class="tag">{{ tag }}</span>
      </div>
      <div class="album-meta">
        <span>Duration: {{ album.duration }} sec</span>
        <span class="likes" *ngIf="album.like">{{ album.like }}</span>
      </div>
    </div>
  </div>
</div>