<!-- <header>
    <div class="logo">{{ title }}</div>
    <div class="counter">Nombre d'albums : {{ albumCount }}</div>
    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/connect">Se connecter</a>
    </nav>
</header> -->

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light" routerLink="/">
                {{ title }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" routerLink="/connect">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Nombre d'albums : {{ albumCount }}</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link text-light" *ngIf="count">{{ count }}</span>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>